---
layout: default
permalink: /events/
class: left-sidebar
header-class: skel-layers-fixed
---

 {% include navigation.html %}
<div style="right: 0px; border: 0px none; height: 500; position: fixed; width: 340; overflow: hidden; bottom: -67px;z-index:999">
    <div style="overflow: hidden;">
    </div>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUoEEdIntelligence%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=699942980052858" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>


 {% include events.html %}
