<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->

    <div class="inner">

        <header>
            <img src="{{ site.baseurl }}/images/newlogo.jpg" style="height:350px; margin-top:-20px; margin-bottom:-30px">
        </header>
        <p>AI & Data Science Society</p>

    </div>

</section>
