<!-- Main -->
<article id="main">

<!-- Three -->
        <section class="wrapper style3 container special">

            <header class="major">
                <h2>Our <strong>Activities</strong></h2>
            </header>

            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a class="image featured"><img src="{{ site.baseurl }}/images/G07.jpg" alt="" /></a>
                        <header>
                            <h3>Research Talks</h3>
                        </header>
                        <p>We aim to provide you with the cutting edge research in Artificial Intelligence.  Be it industry or academia our focus is learn about exiting research as soon as it happens. We bring you talks from the most renowned ML conferences and enthusiastic speakers with new visions for the field.</p>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section>
                        <a class="image featured"><img src="{{ site.baseurl }}/images/social1.jpg" alt="" /></a>
                        <header>
                            <h3>Social</h3>
                        </header>
                        <p>What would be coding without a beer or two? We meet regurlaly to discuss some exciting and some less exciting ideas while having a drink. We go to pubs, travel to tech events or just relax.</p>
                    </section>

                </div>

            </div>
            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a class="image featured"><img src="{{ site.baseurl }}/images/hackathon.jpg" alt="" /></a>
                        <header>
                            <h3>Hackspace</h3>
                        </header>
                        <p>You need an incentive to start working on a problem or coding something awesome? During our Hackspace sessions people get together to work on their current projects, start new ones or just hang out. Sometimes one can actually make out progress, but sometimes it is more about the experience and learning something new.</p>
                    </section>

                </div>

                <div class="6u 12u(narrower)">

                    <section>
                        <a class="image featured"><img src="{{ site.baseurl }}/images/challenge.jpg" alt="" /></a>
                        <header>
                            <h3>Coding Challenges</h3>
                        </header>
                        <p>You always wanted to tackle big problems in a team? You don't know where to start to code for a specific Kaggle challenge? We have various teams working on different types of challenges. If there is nobody working on a challenge you're interested in, you will find some mates in a matter of seconds.</p>
                    </section>

                </div>
            </div>

        </section>

</article>
